@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    background-color: #fafafa;
    font-family: 'NanumSquare', sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    border-right: 1px solid #dbdbdb; 
    padding: 20px;
    background-color: white;
    position: sticky; 
    top: 0; 
    height: 100vh; 
    overflow-y: auto; 
}

.sidebar a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #262626;
}

.sidebar a:hover {
    color: #0095f6; 
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.feed {
    max-width: 600px;
    width: 100%;
}

.post {
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    max-height: 600px; /* 최대 높이 설정 */
}

.post img {
    width: 100%;
    height: auto; /* 비율 유지 */
}

.post .content {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.post .content .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post .content .nickname {
    font-weight: bold;
    font-size: 14px;
}

.post .content .datetime {
    font-size: 12px;
    color: #999;
}

.post .content .board-contents {
    font-size: 14px;
    margin-top: 5px;
}

.post .content .actions {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.post .content .actions .like {
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #dbdbdb;
}

.post .content input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 0;
    font-size: 14px;
    outline: none;
    margin-top: 10px;
}

.post .content input[type="text"]:focus {
    border-bottom: 1px solid #0095f6;
}

.emoji-button {
    background: none;
    border: none;
    font-size: 18px;
    color: #0095f6;
    cursor: pointer;
    margin-left: 5px;
}

.icon {
   width: 20px;
   max-width: 20px;
   height: auto;
}
.comment-link {
    color: #262626; /* 검은색으로 설정 */
    text-decoration: none; /* 밑줄 제거 */
    cursor: pointer; /* 커서가 포인터로 변경되도록 설정 */
  }
  
  .comment-link:hover {
    color: #262626; /* 호버 시 색상 변경하지 않도록 설정 */
  }